# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse specific files
/.settings/
/.classpath
/.project

# IDEA specific files
/.idea
*.iml
*.iws

# NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code specific files
/.vscode/

# Maven specific files
/log/
/target/
/release

# Gradle specific files
/.gradle
/build/

# Intellij specific files
/.idea
*.iml
*.ipr
*.iws

# Mac specific files
.DS_Store

# Windows specific files
Thumbs.db
